<!DOCTYPE html>
<html lang="en">
        <head>
                <title>new</title>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        </head>
        <body>
            <!-- Error message section -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="container">
                    <div class=flashes>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endwith %}
            <img src="../static/img/Neovim-logo_400.png" alt="Neovim Logo">
            <h1>Neovim Plugin Reviews</h1>
            <!-- End error message section -->
            <div class="wrapper">
                <!-- Nav -->
                <div class="nav">
                    <a class="btn btn-dash btn-success" href="/dashboard">Dashboard</a>
                    <a class="btn btn-dash btn-primary" href="/logout">Logout</a>
                </div>
                <h3>Add Review</h3>
                <div class="main container">
                    <form class="form_create" action="/review/create" method="POST">
                        <label for="name">Name</label>
                        <input type="text" name="name" >
                        <label for="category">Category</label>
                        <input type="text" name="category" >
                        <label for="content">Content</label>
                        <input type="textarea" name="content" >
                        <button class="btn btn-dash btn-primary" type="submit">submit</button>
                    </form>
                </div>
            </div>
        </body>
</html>
