* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Monaco;
}
/* NEW CSS RESPONSIVE */
.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#header-img {
    align-content: center;
    margin: 0 auto 10px auto;
}

#header-title {
    align-content: center;
    margin: 0 auto 20px auto;
}

#header-img-logReg {
    align-content: center;
    margin: 0 auto 10px auto;
}

#header-title-logReg {
    align-content: center;
    margin: 0 auto 20px auto;
}

.nav {
    display: flex;
    margin: 4px;
    justify-content: flex-end;
}

.btn-home {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    width: 100px;
}

/* on all templates */
.container {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

/* class on container on LogReg */
.logReg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logReg-left {
    padding: 5px;
}

.logReg-right {
    padding: 5px;
}

.btn-logReg {
    width: 100px;
}

/* class on container on new review */
.new {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-new {
    width: 100px;
}

/* class on container on edit review */
.edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-edit {
    width: 100px;
}

.edit-textarea {
    padding: 5px;
    margin-bottom: 10px;
}


/* class on container on show review */
.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-row {
    text-align: left;
}

.show-comments-row {
    text-align: left;
}

.row-show-btns {
    display: flex;
    align-content: center;
}

.container-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.form_create {
    display: flex;
    flex-direction: column;
}

h1 {
    color: royalblue;
}

h3 {
    color: green;
}

a {
    margin: 5px;
}

label {
    margin: 5px;
}

input {
    margin: 5px;
}

button {
    padding: 4px;
}

tr {
    text-align: center;
}

td {
    padding: 10px;
    font-weight: bold;
}


