* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
/* NEW CSS RESPONSIVE */

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#header-img {
    align-content: center;
    margin: 0 auto 10px auto;
}

#header-title {
    align-content: center;
    margin: 0 auto 20px auto;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.form_create {
    display: flex;
    flex-direction: column;
}


/* OLD CSS */


/* login specific */
.container-user {
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

.dashboard {
    width: 800px;
}

.dash-nav {
    display: flex;
    justify-content: flex-end;
}

.btn-dash {
    margin: 4px;
}

.main {
    display: flex;
    flex-direction: row;
}


.input-group {
    margin-bottom: 10px;
}

.btn-home {
    display: flex;
    justify-content: flex-end;
}

/* end login spec */

.container {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}

.wrapper {
    width: 900px;
    margin: 10px;
}

.nav {
    margin: 4px;
    justify-content: flex-end;
}

.main {
    display: flex;
    width: 800px;
    flex-direction: row;
}

.link {
    display: flex;
    flex-direction: row;
    align-content: center;
}

h1 {
    color: royalblue;
}

h3 {
    color: green;
}

a {
    margin: 5px;
}

label {
    margin: 5px;
}

input {
    margin: 5px;
}

button {
    padding: 4px;
}

td {
    padding: 10px;
    font-weight: bold;
}
